.item {
    border-top: 1.5px solid #DEDEDE;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85px;
    padding: 2% 5%;
    font-size: 14px;

}

.item div {
    display: flex;
    justify-content: space-between;
}