.input {
    height: 45px;
    padding-left: 10px;
    margin-top: 5%;
    border: #707070 solid 1px;
    border-radius: 5px;
}

.input-common {
    width: 350px;
}

.smallInput-common {
    width: 140px;
}