.invoices {
    background-color: white;
}

.history {
    text-align: left;
    margin: 5%;
}

.history div {
    display: flex;
    margin: 7% 0;
    width: 47vh;
    justify-content: space-between
}

.history button {
    background-color: white;
    border: solid 1px #000000;
    padding: 5px 18px;
    border: solid 1px #deddde;
    border-radius: 5px;
    font-size: 16px;
}

.invoiceButton{
    margin-top: 10%;
}


.history p {
    font-size: 21px;
}
