.login-logo {
    width: 150px;
    margin: 10% 0 10% 0%;
}

.login-container {
    display: block;
    text-align: center;
}

.login-container p {
    font-size: 25px;
}

.loginButton {
    margin-top: 10%;
}