.myBusiness {
    background-color: #F1F0F1;
    padding-bottom: 10%;
}

.businessHistory {
    margin-bottom: 2%;
}

.businessHistory div {
    width: 80%;
}

.businessHistory span {
    font-size: 18px;
}